<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/index.CSS"><!-- Add the link to the CSS stylesheet here -->
  <link rel="icon" type="image/png" sizes="512x512" href="favicon/cool.png">
  <title> Cool Name Generator</title>
</head>

<body>
  <main>